*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper h1{
    align-items: center;
    font-size: 100px;
}